In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
names = lambda obj: print([name for name in dir(obj) if name[0] != "_"])

In [3]:
iris = sns.load_dataset("iris")
tips = sns.load_dataset("tips")
titanic = sns.load_dataset("titanic")
flights = sns.load_dataset("flights")

# Pandas

### Funciones y mapeado

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.day.unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [6]:
tips.day.value_counts() #el nÂº de vcs que aparece cada valor

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [7]:
tips.day.map({"Thur": "Thursday", "Fri": "Friday", "Sat": "Saturday", "Sun": "Sunday"})

0        Sunday
1        Sunday
2        Sunday
3        Sunday
4        Sunday
         ...
239    Saturday
240    Saturday
241    Saturday
242    Saturday
243    Thursday
Name: day, Length: 244, dtype: category
Categories (4, object): ['Thursday', 'Friday', 'Saturday', 'Sunday']

In [8]:
tips.day = tips.day.map({"Thur": "Thursday", "Fri": "Friday", "Sat": "Saturday", "Sun": "Sunday"})

In [9]:
tips.day

0        Sunday
1        Sunday
2        Sunday
3        Sunday
4        Sunday
         ...
239    Saturday
240    Saturday
241    Saturday
242    Saturday
243    Thursday
Name: day, Length: 244, dtype: category
Categories (4, object): ['Thursday', 'Friday', 'Saturday', 'Sunday']

In [10]:
tips

     total_bill   tip     sex smoker       day    time  size
0         16.99  1.01  Female     No    Sunday  Dinner     2
1         10.34  1.66    Male     No    Sunday  Dinner     3
2         21.01  3.50    Male     No    Sunday  Dinner     3
3         23.68  3.31    Male     No    Sunday  Dinner     2
4         24.59  3.61  Female     No    Sunday  Dinner     4
..          ...   ...     ...    ...       ...     ...   ...
239       29.03  5.92    Male     No  Saturday  Dinner     3
240       27.18  2.00  Female    Yes  Saturday  Dinner     2
241       22.67  2.00    Male    Yes  Saturday  Dinner     2
242       17.82  1.75    Male     No  Saturday  Dinner     2
243       18.78  3.00  Female     No  Thursday  Dinner     2

[244 rows x 7 columns]

In [11]:
tips.head()

   total_bill   tip     sex smoker     day    time  size
0       16.99  1.01  Female     No  Sunday  Dinner     2
1       10.34  1.66    Male     No  Sunday  Dinner     3
2       21.01  3.50    Male     No  Sunday  Dinner     3
3       23.68  3.31    Male     No  Sunday  Dinner     2
4       24.59  3.61  Female     No  Sunday  Dinner     4

In [12]:
tips.total_bill.apply(np.square)

0      288.6601
1      106.9156
2      441.4201
3      560.7424
4      604.6681
         ...
239    842.7409
240    738.7524
241    513.9289
242    317.5524
243    352.6884
Name: total_bill, Length: 244, dtype: float64

In [13]:
def addOne(n):
    return n + 1

In [14]:
tips.total_bill.head()

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
Name: total_bill, dtype: float64

In [15]:
tips.total_bill.apply(addOne).head()

0    17.99
1    11.34
2    22.01
3    24.68
4    25.59
Name: total_bill, dtype: float64

## Agrupaciones con estructuras Pandas

In [16]:
s = pd.Series([2, 4, 6, 5, 3], index = list("ABABC"))
s

A    2
B    4
A    6
B    5
C    3
dtype: int64

In [17]:
s.groupby(s.index)

In [18]:
s.groupby(s.index).sum()

A    8
B    9
C    3
dtype: int64

In [19]:
tips.head()

   total_bill   tip     sex smoker     day    time  size
0       16.99  1.01  Female     No  Sunday  Dinner     2
1       10.34  1.66    Male     No  Sunday  Dinner     3
2       21.01  3.50    Male     No  Sunday  Dinner     3
3       23.68  3.31    Male     No  Sunday  Dinner     2
4       24.59  3.61  Female     No  Sunday  Dinner     4

In [22]:
tips.groupby(by = "day", observed=False)

In [23]:
tips.groupby(by = "day", observed=False)["total_bill"].mean()

day
Thursday    17.682742
Friday      17.151579
Saturday    20.441379
Sunday      21.410000
Name: total_bill, dtype: float64

In [24]:
tips.groupby(by = ["day", "time"], observed=False)["total_bill"].mean()

day       time
Thursday  Lunch     17.664754
          Dinner    18.780000
Friday    Lunch     12.845714
          Dinner    19.663333
Saturday  Lunch           NaN
          Dinner    20.441379
Sunday    Lunch           NaN
          Dinner    21.410000
Name: total_bill, dtype: float64

In [26]:
tips.groupby(by = ["day", "time"], observed=False)[["total_bill", "tip"]].mean()

                 total_bill       tip
day      time
Thursday Lunch    17.664754  2.767705
         Dinner   18.780000  3.000000
Friday   Lunch    12.845714  2.382857
         Dinner   19.663333  2.940000
Saturday Lunch          NaN       NaN
         Dinner   20.441379  2.993103
Sunday   Lunch          NaN       NaN
         Dinner   21.410000  3.255132

In [28]:
#pd.pivot_table

In [29]:
tips.head()

   total_bill   tip     sex smoker     day    time  size
0       16.99  1.01  Female     No  Sunday  Dinner     2
1       10.34  1.66    Male     No  Sunday  Dinner     3
2       21.01  3.50    Male     No  Sunday  Dinner     3
3       23.68  3.31    Male     No  Sunday  Dinner     2
4       24.59  3.61  Female     No  Sunday  Dinner     4

In [33]:
tips.pivot_table(index = "day", columns = "sex", values = "total_bill")

sex            Male     Female
day
Thursday  18.714667  16.715312
Friday    19.857000  14.145556
Saturday  20.802542  19.680357
Sunday    21.887241  19.872222

In [35]:
tips.pivot_table(index = ["day", "time"], columns = ["sex", "smoker"], values = "total_bill")

sex                   Male                Female
smoker                 Yes         No        Yes         No
day      time
Thursday Lunch   19.171000  18.486500  19.218571  15.899167
         Dinner        NaN        NaN        NaN  18.780000
Friday   Lunch   11.386667        NaN  13.260000  15.980000
         Dinner  25.892000  17.475000  12.200000  22.750000
Saturday Dinner  21.837778  19.929063  20.266667  19.003846
Sunday   Dinner  26.141333  20.403256  16.540000  20.824286

In [36]:
tips.pivot_table(index = ["day", "time"], columns = ["sex", "smoker"], values = "total_bill", aggfunc="sum")

sex                Male          Female
smoker              Yes      No     Yes      No
day      time
Thursday Lunch   191.71  369.73  134.53  381.58
         Dinner    0.00    0.00    0.00   18.78
Friday   Lunch    34.16    0.00   39.78   15.98
         Dinner  129.46   34.95   48.80   22.75
Saturday Lunch     0.00    0.00    0.00    0.00
         Dinner  589.62  637.73  304.00  247.05
Sunday   Lunch     0.00    0.00    0.00    0.00
         Dinner  392.12  877.34   66.16  291.54